* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 244, 247);
  font-family: Microsoft YaHei, SimSun !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,li {
  list-style: none;
}

div.head {
  width: 100vw;
  height: 84px;
  box-shadow: 0px 2px 4px 0px rgba(143,146,153,0.28);
  background: -webkit-linear-gradient(top, #fff, #f9f9f9);
}

div.head > .centBox {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

div.head > .centBox > div  {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

div.head .logo {
  margin-right: 25px;
}

div.head .navList ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.head .navList ul li {
  margin: 0 10px;
}

div.head .navList ul li a {
  transition: color .2s ease;
  color: #333;
  font-size: 16px;
}

div.head .navList ul li a:hover {
  color: #6BA439;
}

div.head .search {
  width: 500px;
  margin-left: 35px;
}

div.head .search > div {
  width: 100%;
  display: flex;
}

div.head .search input {
  border: 1px solid #ccc;
  padding: 8px;
  height: 42px;
  border-radius: 6px 0 0 6px;
  width: 410px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

div.head .search input:focus {
  border-color: rgba(0, 0, 255, 0.245);
  box-shadow: 0 0 0 2px rgba(33, 98, 187, .2);
}

div.head .search input:hover {
  border-color: #4d81c9 !important;
}

div.head .search a {
  height: 42px;
  width: 86px;
  border-radius: 0 6px 6px 0;
  background: #2162bb;
  color: #fff;
  text-align: center;
  line-height: 42px;
  display: inline-block;
  cursor: pointer;
  left: -1px;
  font-size: 14px;
  position: relative;
}

div.head .control {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
}

div.head .control > div:first-of-type {
  margin-right: 40px;
  padding: 0 10px;
  color: #555;
  position: relative;
}

div.head .control > div:first-of-type::after {
  content: '';
  width: 1px;
  height: 120%;
  position: absolute;
  top: -10%;
  right: -35%;
  background-color: rgb(237, 237, 237);
  display: block;
  margin: 0 20px 0 10px;
}

div.head .control a:hover {
  color: #6BA439;
}

div.head .control > div:last-of-type {
  color: #999;
}

div.head .control > div:last-of-type a {
  margin: 0 10px;
}

/* main */
div.main {
  width: 100vw;
  height: 100% auto;
}

div.main .centbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

div.main .nav {
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(143, 146, 153, .28);
  padding: 0 20px;
  border-radius: 6px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.main .nav .navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.main .nav a {
  position: relative;
  font-size: 14px;
  line-height: 36px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

div.main .nav a::after {
  content: '>';
  position: absolute;
  top: 0;
  right: -13px;
  display: block;
  color: #444 !important;
  text-decoration: none !important;
}

div.main .nav a:first-of-type::after {
  font-weight: initial !important;
}

div.main .nav a:last-of-type::after {
  display: none;
}

div.main .nav a:hover {
  color: #1f71e0;
  text-decoration: underline;
}

div.main .nav .index {
  font-weight: 700;
  color: #333;
}

div.main .nav a.now {
  color: #888 !important;
  text-decoration: none !important;
  cursor: inherit;
}

div.main .container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

div.main .container > .left {
  /* width: 800px; */
  width: calc(100% - 400px);
  box-shadow: 0 2px 8px 0 rgba(143, 146, 153, .28);
  padding: 20px 20px 15px 20px;
  border-radius: 6px;
  background: #fff;
}

div.main .left .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 19px;
  font-weight: 700;
  color: #111;
  word-break: break-all;
  line-height: 28px;
  margin-bottom: 5px;
}

div.main .left .title a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11px;
}

div.main .left .about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

div.main .left a.user, div.main .left a.active {
  margin: 10px 0;
  color: #2162bb;
  font-size: 14px;
}

div.main .left .about a:hover {
  text-decoration: underline;
  color: #f2af3a;
}

div.main .left .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 13px 0;
}

div.main .left .links > a {
  display: flex;
  vertical-align: middle;
  border: 1px solid #fff;
  height: 36px;
  color: #fff !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 21px;
}

div.main .left .links > a svg {
  width: 32px !important;
  height: 18px !important;
  margin-right: 0 !important;
}

div.main .left .links > a svg path {
  fill: #fff;
}

div.main .left .links > a:hover {
  filter: contrast(115%);
}

div.main .left .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.main .left .btns a {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.main .left .btns a svg {
  width: auto !important;
}

div.main .left .btns > a svg path {
  fill: rgb(33, 98, 187);
}

div.main .left .btns > a:hover svg path {
  fill: rgb(255, 193, 88);
}

div.main .left .btns > a:hover span.linkText {
  color: rgb(255, 193, 88);
}

div.main .left .btns > a:nth-child(2) {
  margin: 0 16px;
}

div.main .left div.txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 6px;
  color: #888;
  clear: both;
}

div.main .left div.txt > span {
  text-align: left;
  float: left;
  color: #333;
  font-weight: 700;
}

div.main .left div.txt > p {
  padding: 0 0 0 5px;
  color: #333;
}

div.main .left .txtList {
  line-height: 34px;
}

div.main .left .txtList > .txt:first-of-type {
  position: relative;
  font-size: 14px;
  color: #333;
  clear: both;
  line-height: 26px;
  margin-bottom: 6px;
  word-break: break-word;
}

div.main .left .txtList > .txt:first-of-type > span {
  font-weight: 700;
  font-style: normal;
  color: #333;
  display: inline-block;
  flex-shrink: 0;
  position: absolute;
}

div.main .left .txtList > .txt:first-of-type p {
  text-indent: 3em;
  padding: 0;
}

div.main .left .txt a {
  color: rgb(47, 106, 191);
  transition: all .2s ease;
}

div.main .left .txt a:hover {
  color: #f2af3a;
  text-decoration: underline;
}

/* main-right */
div.main .container > .right {
  margin-left: 20px;
  width: 380px;
}

div.main .container > .right > div {
  padding: 20px 18px 14px 18px;
  margin-bottom: 18px;
  border-radius: 6px;
  padding: 20px 18px 14px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(143,146,153,.28);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.main .right .one .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

div.main .right .one .container .img {
  margin: 15px;
  position: relative;
  cursor: pointer;
  height: 165px;
  overflow: hidden;
}

div.main .right .one .container .img img {
  z-index: 6;
}

div.main .right .one .container .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000031;
  color: #fff;
  text-align: center;
  z-index: 8;
  font-size: 14px;
  gap: 10px;
}

div.main .right .one .container .hoverBox svg path {
  fill: #e3e3e3;
}

div.main .right .one .container .img:hover .hoverBox {
  display: flex;
}

div.main .right .one .container .book {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.main .right .one .container .book .name {
  color: #333;
  transition: color .2s ease;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

div.main .right .one .container .book .name:hover {
  color: #2d8cf0;
}

div.main .right .one .container .book p {
  line-height: 30px;
  margin-bottom: 2px;
  font-size: 14px;
  font-family: Microsoft YaHei, SimSun !important;
  color: #333;
}

div.main .right .one .container .book p a {
  transition: all .2s ease;
}

div.main .right .one .container .book p a:hover {
  color: #2d8cf0;
}

div.main .right .one > a {
  height: 34px;
  background: #fffcf5;
  color: #ff7112;
  width: calc(100% - 16px);
  height: 36px;
  transition: .2s ease;
  margin-top: -4px;
  border: 1px solid #db7512;
  fill: #ff7112;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.main .right .one > a:hover {
  color: #fff;
  fill: #fff;
  background: #fcc35f;
}

/* two */
div.main .right .two .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  color: #111;
  font-size: 16px;
  font-weight: 700;
  color: #111;
  margin-bottom: 12px;
  line-height: 28px;
}

div.main .right .two .title a {
  display: inline-flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    float: right;
    color: #2162bb;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

div.main .right .two .title svg {
  width: 15px;
  height: 15px;
}

div.main .right .two .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

div.main .right .two .list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.main .right .two .list li > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30px;
  height: 22px;
  gap: 8px;
  color: #333;
  font-size: 14px;
  margin-top: 2px;
}

div.main .right .two .list li:first-of-type > span svg {
  transform: scale(1.5);
}

div.main .right .two .list li > span:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.main .right .two .list li > span svg {
  transform: scale(2);
  margin-bottom: 2px;
  /* margin-right: 5px; */
}

div.main .right .two .list li > a {
  padding-left: 4em;
  color: #333;
  font-size: 14px;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 285px;
}

div.main .right .two .list li a:hover {
  color: #1f71e0 !important;
  text-decoration: underline;
}

div.main .right .two .list li > p {
  padding-left: 4em;
  font-size: 14px;
  color: #999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 3px 0;
}

div.main .right .two .list li > p a {
  position: relative;
}

div.main .right .two .list li > p a.name {
  padding-right: 36px;
}

div.main .right .two .list li > p a.name::after {
  content: '等；';
  position: absolute;
  top: 0;
  right: -18px;
  display: block;
  margin: 0 10px;
  color: #999 !important;
  text-decoration: none !important;
  text-decoration-color: transparent;
}

div.main .right .two .list li > p > span {
  color: #333;
}

/* three */
div.main .right .three > div {
  margin: 20px 0;
  width: 198px;
  overflow: hidden;
}

div.main .right .three .img a {
  width: 198px;
  height: auto;
}

div.main .right .three .img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

div.main .right .three .cardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.main .right .three .cardList > div {
  margin-top: 10px;
  border-width: 1px;
  border-color: rgb(219, 117, 18);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(255, 252, 245);
  width: 178px;
  height: 88px;
  text-align: center;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

div.main .right .three .cardList .left {
  background: linear-gradient(230deg, #db7512, #fbb36d);
  width: 38px;
  height: 88px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

div.main .right .three .left > span:first-of-type {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  writing-mode: tb-rl;
  letter-spacing: 3px;
  margin-top: 15px;
  font-family: Microsoft YaHei, SimSun !important;
}

div.main .right .three .left > span.arrow-1 {
  opacity: 0.702;
  border: 6px solid transparent;
  border-top: 6px solid #f8f8f8;
  margin-top: 7px;
  display: inline-block;
}

div.main .right .three .left > span.arrow-2 {
  border: 6px solid transparent;
  border-top: 6px solid #f8f8f8;
  margin-top: -7px;
  display: inline-block;
}

div.main .right .three .right {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
  justify-content: center;
}

div.main .right .three .right .packeName {
  font-size: 15px;
  font-family: "Microsoft YaHei";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

div.main .right .three .right > div {
  font-size: 17px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 102, 0);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  gap: 1px;
}

div.main .right .three .right > div span {
  display: block;
}

div.main .right .three .right > div .priceTick {
  vertical-align: text-bottom;
  padding-bottom: 3px;
}

div.main .right .three .right > div .priceNum {
  font-size: 27px;
}

/* four */
div.main .right .four > p,
div.main .right .five > p {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  margin-bottom: 12px;
  line-height: 28px;
  text-align: left;
  width: 100%;
}

div.main .right .four > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.main .right .four > div span {
  height: 32px;
  line-height: 32px;
  width: 33.33%;
  text-align: left;
  display: inline-block;
}

div.main .right .four > div span a {
  color: #333;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 32px;
  line-height: 32px;
  width: 99%;
  transition: color .2s ease;
  font-size: 14px;
}

div.main .right .four > div span a:hover {
  color: #1f71e0 !important;
  text-decoration: underline;
}

/* five */
div.main .right .five > div {
  width: 100%;
  margin: 0 auto;
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

div.main .right .five > div > a:first-of-type {
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100px;
  line-height: 32px;
  font-size: 14px;
}

div.main .right .five > div > a:first-of-type:hover {
  color: #1f71e0 !important;
  text-decoration: underline;
}

div.main .right .five > div > a:last-of-type {
  width: 200px;
  text-align: left;
  color: #999;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: auto;
  font-size: 14px;
}

/* footer */
div.footer .top {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 34px;
  width: 100%;
  padding-bottom: 31px;
  zoom: 1;
  color: #323232;
  font-size: 14px;
  flex-shrink: 0;
}

div.footer .top .small {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 12px;
  margin-right: 40px;
}

div.footer .top .small > a {
  margin-right: 82px;
  font-size: 15px;
  line-height: 15px;
  white-space: nowrap;
  color: #323232;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}

div.footer .top .small > a:last-of-type {
  margin-right: 0;
}

div.footer .top .pop {
  display: flex;
  width: 140px;
  justify-content: space-evenly;
}

div.footer .top .pop > div {
  position: relative;
}

div.footer .top .pop > div img {
  width: 40px;
  height: 40px;
  border-style: none;
  object-fit: cover;
  object-position: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}

div.footer .top .pop > div .pop-panel {
  display: none;
  z-index: 100;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  height: 150px;
  text-align: center;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 10px #777777;
  box-sizing: unset;
}

div.footer .top .pop > div .pop-panel::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border: 10px solid transparent;
  border-top-color: white;
  text-align: center;
}

div.footer .top .pop > div .pop-panel img {
  width: 120px;
  height: 128px;
}

div.footer .top .pop > div .pop-panel a {
  white-space: nowrap;
  color: #323232;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}

div.footer .top .pop > div img:hover + div.pop-panel {
  display: block;
}

div.footer .bottom {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

div.footer .bottom > div {
  font-size: 13px;
  line-height: 13px;
  color: #666666;
  overflow: hidden;
  float: left;
}

div.footer .bottom > div:first-of-type {
  width: 550px !important;
}

div.footer .bottom > div .lt,
div.footer .bottom > div .rt {
  margin-bottom: 16px;
}

div.footer .bottom a {
  color: #666666;
  text-decoration: none;
  transition: color .2s ease;
  font-size: 13px;
  line-height: 13px;
}

div.footer .bottom > div:nth-child(2) {
  width: 343px !important;
  color: #666666;
  overflow: hidden;
  font-size: 13px;
  line-height: 13px;
}

div.footer .bottom > div:last-of-type {
  color: #65686f;
  font-size: 13px;
  float: left;
  line-height: 13px;
  cursor: default;
}

div.footer .bottom > div:last-of-type > div {
  background: 0 0;
  margin-bottom: 10px;
}

div.footer .bottom > div:last-of-type > div > div {
  display: flex;
  height: 13px;
}

div.footer .bottom > div:last-of-type > div > div img {
  height: 27px;
  width: 20px;
  position: relative;
  top: -6px;
  padding-right: 4px;
}

div.footer .bottom > div:last-of-type > div > div span {
  cursor: pointer;
}

div.footer .bottom > div:last-of-type ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.footer .bottom > div:last-of-type li {
  margin-bottom: 10px;
  list-style-type: none;
}

div.footer .bottom > div:last-of-type li > div {
  display: flex;
  height: 13px;
}

div.footer .bottom > div:last-of-type li img {
  height: 27px;
  width: 20px;
  position: relative;
  top: -6px;
  padding-right: 4px;
}

/* fixed */
div.fixed {
  left: auto;
  width: 60px;
  background: #ffffff;
  color: #fff;
  font-size: 12px;
  position: fixed;
  bottom: 25px;
  right: 0;
  font-family: 'Microsoft YaHei';
  z-index: 99999;
  border: 1px solid #CEE4BB;
  border-bottom: none;
  box-shadow: 0px 2px 6px 0px rgba(35, 24, 21, 0.09);
}

div.fixed > div {
  text-align: center;
  border-bottom: 1px solid #CEE4BB;
  height: 60px;
  border-top: 0;
  cursor: pointer;
  width: 60px;
  position: relative;
}

div.fixed > div a {
  width: 60px;
  height: 100%;
  padding: 10px 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #2d8cf0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

div.fixed > div a > span {
  color: #81B951;
  font-size: 12px;
  line-height: 18px;
}

div.fixed > div:hover {
  background: #81B951;
  border-bottom: 1px solid #fff;
  color: #fff;
}

div.fixed > div:hover > a,
div.fixed > div:hover > a span{
  color: #fff;
}

div.fixed .phone-box {
  display: block;
  top: 0px;
  right: 60px;
  padding-right: 5px;
  position: absolute;
  width: 60px;
  height: 62px;
}

div.fixed .phone-box .message {
  position: absolute;
  right: 14px;
  height: 210px;
  width: 256px;
  background-color: #FFF;
  color: #417DC9;
  font-size: 14px;
  line-height: 35px;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  padding-bottom: 12px;
  top: -95px;
  filter: drop-shadow(0 0 4px grey);
  display: none;
}

div.fixed .phone-box .message::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent transparent #fff ;
}

div.fixed .phone-box .message > div:first-of-type {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

div.fixed .phone-box .message > div > img,
div.fixed .phone-box .message > div > a > img {
  float: left;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-style: none;
  box-sizing: border-box;
}

div.fixed .phone-box .message > div > p {
  float: left;
  width: 140px;
  margin-top: 5px;
  line-height: 25px;
  text-align: left;
}

div.fixed .phone-box .message > div > p span {
  height: 25px;
  line-height: 25px;
  color: #333;
  font-weight: bold;
}

div.fixed .phone-box .message > div > p > span:last-of-type {
  color: #ff6c00;
  font-weight: normal;
}

div.fixed .phone-box .message > div:last-of-type a {
  width: 240px;
  height: 100px;
  display: block;
  padding-top: 6px;
  color: #fff;
  text-decoration: none;
  margin-left: 0;
  transition: color .2s ease;
}

div.fixed .phone-box .message > div:last-of-type > a > p {
  color: #333;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  float: left;
  width: 140px;
  margin-top: 5px;
  text-align: left;
}

div.fixed .phone-box .message > div:last-of-type > p > span:first-of-type {
  height: 25px;
  line-height: 25px;
  color: #333;
  font-weight: bold;
}

div.fixed .phone-box .message p span.code-2 {
  color: #417dc9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: left;
  height: 25px;
  line-height: 22px;
  font-weight: normal;
}

div.fixed .phone-box:hover div.message {
  display: block;
}

div.fixed .phoneHover:hover div.message {
  display: block;
}

div.fixed .phoneHover a {
  color: #6BA439;
}

div.fixed span.goTop {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.fixed span.goTop svg path {
  fill: #6BA439;
}

div.fixed span.goTop div {
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #6BA439;
  display: none;
  font-size: 14px;
}

div.fixed span.goTop:hover svg {
  display: none;
}

div.fixed span.goTop:hover div {
  display: flex;
}

label[for="bookInfo"] p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

div.minerInfo {
  position: absolute;
  left: 50px;
  top: -23px;
  width: 160px;
  background-color: #fff;
  border: 1px solid #a9bce1;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .2);
  padding: 7px 0 8px 20px;
  font-size: 14px;
  z-index: 999999;
  box-sizing: content-box;
  cursor: pointer;
  color: #417dc9;
  word-break: break-all;
  line-height: 28px;
  display: none;
}

div.minerInfo::before {
  border-color: transparent #a9bce1 transparent transparent;
  top: 20%;
  margin-top: -10px;
  left: -16px;
  position: absolute;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 8px;
}

div.minerInfo::after {
  border-color: transparent #fff transparent transparent;
  top: 20%;
  margin-top: -10px;
  left: -15px;
  position: absolute;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 8px;
}

div.minerInfo > div {
  padding: 3px 0;
  margin: 0;
  padding-left: 7px;
}

div.minerInfo > div > span:first-of-type {
  width: 8px;
  height: 8px;
  display: inline-block;
}

div.minerInfo > div > span.read {
  background-color: #99cd00;
}

div.minerInfo > div > span.download {
  background-color: #f90;
}

div.minerInfo > div > span.other {
  background-color: #329aff;
}

div.minerInfo > div > span.quote {
  background-color: #cd66ff;;
}

input#bookInfo:checked ~ div.minerInfo {
  display: block;
}

div.shareTable {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  filter: drop-shadow(0 1px 6px rgba(0, 0, 0, .2));
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 16px;
  gap: 13px;
  z-index: 9;
}

div.btns > div {
  position: relative;
  display: block;
  margin: 0 10px;
}

div.btns > div label {
  cursor: pointer;
  display: block;
}

div.btns > div label p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;
}

div.btns > div label p svg {
  width: 65%
}

div.btns > div:hover label svg path {
  fill: rgb(255, 193, 88);
}

div.btns > div:hover span.linkText {
  color: rgb(255, 193, 88);
}

div.btns > div label p svg path {
  fill: rgb(33, 98, 187);
}

div.btns .shareTable {
  position: absolute;
  left: -80%;
  top: 130%;
  display: none;
}

div.btns .shareTable::after {
  content: '';
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid;
  border-color: transparent transparent #fff transparent;
}

input#share:checked ~ div.shareTable {
  display: flex;
}

/* six */
div.six > p{
  font-size: 16px;
  font-weight: 700;
  color: #111;
  margin-bottom: 12px;
  line-height: 28px;
  width: 100%;
}

div.six > div {
  margin: 0 auto;
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.six > div a span {
  text-align: left;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.six > div a:hover span {
  color:rgb(33, 98, 187);
  text-decoration: underline;
}

body,html {
  scroll-behavior: smooth;
}

div.btns a span,
div.btns > div span {
  color: #2162bb;
  font-size: 12px;
}

div.btns > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  div.centBox {
    max-width: 1440px;
    min-width: 480px;
    margin: 0 auto;
  }

  div.centbox {
    max-width: 1440px;
    min-width: 480px;
    margin: 0 auto;
    position: relative;
  }

  span.linkText {
    display: block;
  }
}

@media screen and (max-width: 1499px) {
  div.centBox {
    max-width: 1440px;
    min-width: 480px;
    margin: 0 auto;
  }

  div.centbox {
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    position: relative;
  }

  span.linkText {
    display: none;
  }
}